<h1><%= t('general.manage') << ' ' << t('activerecord.models.news') %>s</h1>

<br>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= t('activerecord.attributes.news.title') %></th>
        <th scope="col"><%= t('activerecord.attributes.news.subtitle') %></th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @news.each do |news| %>
        <tr>
          <td><%= news.title %></td>
          <td><%= news.subtitle %></td>
          <td><%= link_to t('general.details'), news %></td>
          <td><%= link_to t('general.edit'), edit_news_path(news) %></td>
          <td>
            <%=
              link_to t('general.remove'),
              news,
              method: :delete,
              data: { confirm: t('general.are_you_sure') }
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%=
  link_to t('general.new_f') << ' ' << t('activerecord.models.news'),
  new_news_path,
  class: 'btn btn-info'
%>
