<p id="notice"><%= notice %></p>

<h1>News</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <% if current_user.try(:admin?) %>
        <th colspan="3"></th>
      <% else %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.content %></td>
        <td><%= link_to 'Show', current_user.try(:admin?) ? news : "/news/#{news.id}" %></td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Edit', edit_news_path(news) %></td>
          <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.try(:admin?) %>
  <%= link_to 'New News', new_news_path %>
<% end %>
