<h2><%= t('general.login') %></h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :email %>
  <%= f.input :password %>
  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, as: :boolean %>
  <% end %>

  <%= f.button :submit, 'Entrar', class: 'btn btn-primary' %>
<% end %>

<%= render "devise/shared/links" %>
