<!DOCTYPE html>
<html>
  <head>
    <title>G2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="d-flex flex-nowrap justify-content-center align-items-center m-0 p-0 position-relative">
          <div class="text-center">
            <%= link_to 'G2 Notícias', '/news', class: 'blog-header-logo text-dark' %>
          </div>
          <nav
            id="navbar-buttons-container"
            class="d-flex justify-content-end align-items-center position-absolute">
            <% if user_signed_in? %>
              <% if current_user.try(:admin?) %>
                <%=
                  link_to t('general.manage') << ' ' << t('activerecord.models.news').downcase << 's',
                  news_index_path,
                  class: 'btn btn-sm btn-outline-secondary'
                %>
                <%=
                  link_to t('general.manage') << ' ' << t('activerecord.models.user').downcase << 's',
                  users_path,
                  class: 'btn btn-sm btn-outline-secondary'
                %>
              <% end %>
              <%= link_to t('general.account'), edit_user_registration_path, class: 'btn btn-sm btn-outline-secondary' %>
              <%=
                link_to t('general.sign_out'),
                destroy_user_session_path,
                class: 'btn btn-sm btn-outline-secondary',
                method: :delete
              %>
            <% else %>
              <%= link_to t('general.sign_in'), user_session_path, class: 'btn btn-sm btn-outline-secondary' %>
            <% end %>
          </nav>
        </div>
      </header>
    </div>

    <br>

    <main role="main" class="container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </main>

  </body>
</html>
